# server/.env
DJANGO_ENV=development

# server/.env.{DJANGO_ENV} 에 아래 변수 정의
DATABASE_URL=postgresql://localhost:5432/nara_market
INTERNAL_API_KEY=your_internal_api_key
NOTION_API_KEY=your_notion_api_key
NOTION_DATABASE_ID=your_notion_database_id
NOTION_MIN_SCORE=60
