# agent/.env
DJANGO_ENV=development

# agent/.env.{DJANGO_ENV} 에 아래 변수 정의
G2B_API_KEY=your_g2b_api_key
G2B_API_BASE_URL=https://apis.data.go.kr/1230000
CLAUDE_API_KEY=your_claude_api_key
CLAUDE_MODEL=claude-sonnet-4-20250514
CLAUDE_MAX_TOKENS=2000
SCHEDULE_INTERVAL=60
INTERNAL_API_BASE_URL=http://127.0.0.1:8100
EC2_API_URL=http://localhost:8000
EC2_API_KEY=your_ec2_api_key
